:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.navigation-bar {
  height: max-content;
  min-width: min-content;
  flex: 0 0 auto;
}
.icon-button {
  flex: 0 0 auto;
}
.row-layout {
  align-items: stretch;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex: 1 1 auto;
}
.grid {
  width: 1439px;
  height: 817px;
  flex: 0 0 auto;
  min-width: 50px;
  min-height: 50px;
}
.igx-column {
  width: 500px;
  height: 200px;
  min-width: 50px;
  min-height: 50px;
}
.row {
  display: flex;
}
